/* App.css */
.bg-space {
  background-image: url('/public/Planetas2.jpg');
  background-size: cover;
  background-position: center;
  height: 400px; /* Ajusta la altura del encabezado según tus necesidades */
}
